* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F0F4F8;
    --secondary-color: #FFFFFF;
    --label: #000000;
    --shadow-color: #999999;
    --input-readonly-color: #c7c7c795;
    --input-second-readonly-color: #c7c7c76d;
    --input-readonly-text-color: #292929;
    --input-border-color: #565656;
    --button-color: #00549E;
    --button-hover: #037de8;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-color);

    display: flex;
    justify-content: center;
    padding: 80px 24px;
}

.container {
    background-color: var(--secondary-color);
    border-radius: 12px;
    box-shadow: 0 4px 20px var(--shadow-color);
    padding: 40px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    cursor: auto;
}

.grupoCep {
    margin-bottom: 20px;
}

.linhaCep {
    display: flex;
    gap: 12px;
    margin-top: 8px;
}

.linhaCep input {
    flex: 1;
}

.linhaCep button {
    margin-top: 0;
    white-space: nowrap;
}

.grupoCampos {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.grupoLadoaLado {
    display: flex;
    gap: 16px;
}

label {
    font-size: 15px;
    font-weight: 600;
    color: var(--label);
    margin-bottom: 3px;
}

input[type="text"] {
    border: 2px solid transparent;
    background-color: var(--input-second-readonly-color);
    border-radius: 8px;
    padding: 10px 14px;
    font-size: 16px;
    width: 100%;
    transition: all 0.2s ease;
    outline: none;
    cursor: auto;
}

input[type="text"]:not([readonly]):hover {
    border: 2px solid var(--input-border-color);
}

input[readonly] {
    border: 1px solid #e3e3e3;
    background-color: var(--input-readonly-color);
    color: var(--input-readonly-text-color);
}

button {
    background-color: var(--button-color);
    padding: 10px 24px;
    color: var(--primary-color);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    margin-top: 8px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}